
cmake-build-debug/
.idea/
*.o
*.exe


lekarze.txt
pacjenci.txt
wizyty.txt

html/
latex/
Doxyfile.bak
Przychodnia/PP2.PRO.1ID12A.ROTBART.RIABCHENKO (1).pdf
PP2.PRO.1ID12A.ROTBART.RIABCHENKO.zip
PP2.PRO.1ID12A.ROTBART.RIABCHENKO.pdf
